.header
  .header__logo
    Yuma Sato's Portfolio
  .header__nav
    %ul.header__nav__menu
      %li.header__nav__menu__item
        = link_to "#" do
          About
      %li.header__nav__menu__item
        = link_to "#" do
          Works
      %li.header__nav__menu__item
        = link_to "#" do
          Recruit
      %li.header__nav__menu__item
        = link_to "#" do
          News
      %li.header__nav__menu__item
        = link_to "#" do
          Contact

      
.tabletennis
  = image_tag asset_path("table-tennis.jpg"), size: "1440x900", alt: "tabletennis"

.content

.footer
  .footer__copyright