.header
  .header__logo
    
  .header__nav
    %ul.header__nav__menu
      %li.header__nav__menu__item
        = link_to "#" do
          About
      %li.header__nav__menu__item
        = link_to "#" do
          Works
      %li.header__nav__menu__item
        = link_to "#" do
          Recruit
      %li.header__nav__menu__item
        = link_to "#" do
          News
      %li.header__nav__menu__item
        = link_to "#" do
          Contact

      
.main__visual
  .main__visual__content
    %h2.main__visual__content__title
      Yuma Sato's Portfolio
    %p.main__visual__content__text
      Web Engineer
  .main__visual__introduction
    プログラミング勉強中です

.content

.footer
  .footer__copyright